<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4" style="text-align: center;"><%= title %></h1>
      
    </div>
  </main>

  <body>
    <div class="about-me">
        <img src="/Assets/images/IMG_0091.png" alt="MD Rakib's Photo" class="photo">

<p>
    Hello, I'm <strong>MD Rakib</strong>. I'm currently studying Software Engineering at Centennial College. My passion is playing video games, and I'm enthusiastic about software development and problem-solving.
</p>
</div>
<div style="text-align: center;">
    <a href="https://drive.google.com/file/d/19cVXwoAAkfiwVEsekY9972WGJCp-QefB/view?usp=sharing" class="btn btn-primary">Resume</a>
</div>
</body>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>