<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4" style="text-align: center;">Welcome to the <%= title %> page</h1>
      
    </div>
  </main>

  <body>
    <header>
      <h1>My Portfolio</h1>
      <section>
        <p>Welcome to my portfolio!. Explore my work and experiences in the world of software development.</p>
    </section>
    
    <div style="text-align: center;">
      <a href="/about">
        <a href="/about" class="btn btn-primary">About Me</a>
      </a>
    </div>
  </header>

  </body>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




