<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4" style="text-align: center;"><%= title %></h1>
      
    </div>
  </main>

  <body>
    <header>
      <h1>My Pojects</h1>
  </header>

  <div class="card">
    <img src="/Assets/images/assignment1.png" alt="Assignment 1">
    <h2 style="text-align: center;">Project 1</h2>
    <p style="text-align: center;">A project slide showcasing my Western vacation pictures.</p>
    <p style="text-align: center;"><a href="https://mdrakib25.github.io/Assignment_2/" target="_blank">View Project</a></p>
</div>

<div class="card">
    <img src="/Assets/images/assignment2.png" alt="Assignment 2">
    <h2 style="text-align: center;">Project 2</h2>
    <p style="text-align: center;">A project about Bug Smasher Game.</p>
    <p style="text-align: center;"><a href="https://mdrakib25.github.io/Assignment_3/" target="_blank">View Project</a></p>
</div>

<div class="card">
    <img src="/Assets/images/assignment3.png" alt="Assignment 3">
    <h2 style="text-align: center;">Project 3</h2>
    <p style="text-align: center;">My first project in my first-year web development class.</p> 
    <p style="text-align: center;"><a href="https://mdrakib25.github.io/Assignment%201/" target="_blank">View Project</a></p>
</div>

  </body>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>